img {
    height: 100px;
    /* width: 20px; */
}

.product {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.one {
    border: 1px solid black;
    box-shadow: 10px -7px whitesmoke;
    border-radius: 20px;
    margin-block: 15px;
}