/* .size {
    display: flex;
    justify-content: space-between;
} */

.text {
    margin-right: 380px;
    margin-bottom: 0;
}

.size-row button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    width: 80px;
    margin: 4px 2px;
}

.size a {
    color: inherit;
    margin-right: 350px;
}

.basketB {
    margin-left: 0;
    width: 200px;
    height: 30px;
}


/* .size img {
    width: 30px;
    height: 20px;
} */

/* .size {
    display: grid;
} */