/* .size {
    display: flex;
    justify-content: space-between;
} */

.text {
    margin-left: -376px;
    margin-bottom: 0;
}

.size-row button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    width: 80px;
    margin: 4px 2px;
}

.size a {
    color: inherit;
    margin-left: -345px;
}

.basketB {
    margin-left: -220px;
    width: 200px;
}

/* .size img {
    width: 30px;
    height: 20px;
} */

/* .size {
    display: grid;
} */